<java.util.ArrayList>
    <org.example.model.Event>
        <id>1</id>
        <title>Matrix Lucky Hand</title>
        <date>2021-12-15</date>
    </org.example.model.Event>
    <org.example.model.Event>
        <id>2</id>
        <title>Glamorous All Poppers</title>
        <date>2022-11-27</date>
    </org.example.model.Event>
    <org.example.model.Event>
        <id>3</id>
        <title>Associated Spring</title>
        <date>2022-03-07</date>
    </org.example.model.Event>
    <org.example.model.Event>
        <id>4</id>
        <title>Tradecraft Parties</title>
        <date>2023-01-14</date>
    </org.example.model.Event>
</java.util.ArrayList>