<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
    <h1>Users</h1>

    <h3>Create User</h3>
    <form th:action="@{/user}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
        <label>Email</label>
        <input type="text" th:field="*{email}"/>
        <input type="submit"/>
    </form>

    <h3>Get User By Id</h3>
    <form th:action="@{/user}" method="get">
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h3>Get User By Email</h3>
    <form th:action="@{/userByEmail}" method="get">
        <input type="text" th:name="email"/>
        <input type="submit"/>
    </form>

    <h3>Get Users By Name</h3>
    <form th:action="@{/usersByName}" method="get">
        <label>Name</label>
        <input type="text" th:name="name"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number</label>
        <input type="number" min="1" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Update User</h3>
    <form th:action="@{/updateUser}" th:object="${user}" method="post">
        <input type="number" th:field="*{id}"/>
        <input type="text" th:field="*{name}"/>
        <input type="text" th:field="*{email}"/>
        <input type="submit"/>
    </form>

    <h3>Delete user:</h3>
    <form th:action="@{/deleteUser}" method="post">
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h1>Events</h1>

    <h3>Create Event</h3>
    <form th:action="@{/event}" th:object="${event}" method="post">
        <label>Id</label>
        <input type="number" th:field="*{id}"/>
        <label>Title</label>
        <input type="text" th:field="*{title}"/>
        <label>Date</label>
        <input type="date" th:field="*{date}"/>
        <input type="submit"/>
    </form>

    <h3>Get Event By Id</h3>
    <form th:action="@{/event}" method="get">
        <label>Id</label>
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h3>Get Event By Title</h3>
    <form th:action="@{/eventsByTitle}" method="get">
        <label>Title</label>
        <input type="text" th:name="title"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number</label>
        <input type="number" min="1" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Get Event By Date</h3>
    <form th:action="@{/eventsByDate}" method="get">
        <label>Title</label>
        <input type="date" th:name="date"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number</label>
        <input type="number" min="1" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Update Event</h3>
    <form th:action="@{/updateEvent}" th:object="${event}" method="post">
        <label>Id</label>
        <input type="number" th:field="*{id}"/>
        <label>New Title (leave blank to not change)</label>
        <input type="text" th:field="*{title}"/>
        <label>New Date (leave blank to not change)</label>
        <input type="date" th:field="*{date}"/>
        <input type="submit"/>
    </form>

    <h3>Delete event:</h3>
    <form th:action="@{/deleteEvent}" method="post">
        <label>Id</label>
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h1>Tickets</h1>

    <h3>Book ticket</h3>
    <form th:action="@{/ticket}" th:object="${ticket}" method="post">
        <label>Id</label>
        <input type="hidden" th:field="*{id}"/>
        <label>User Id</label>
        <input type="number" th:field="*{userId}"/>
        <label>Event Id</label>
        <input type="number" th:field="*{eventId}"/>
        <label>Category</label>
        <select th:field="*{category}">
            <option th:each="categoryOpt : ${T(org.example.model.Ticket.Category).values()}"
                    th:value="${categoryOpt}" th:text="${categoryOpt}"></option>
        </select>
        <label>Place</label>
        <input type="number" min="1" th:field="*{place}"/>
        <input type="submit"/>
    </form>

    <h3>Get Ticket By User</h3>
    <form th:action="@{/ticketsByUser}" method="get">
        <label>User Id</label>
        <input type="number" min="1" th:name="userId"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number</label>
        <input type="number" min="1" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Get Ticket By Event</h3>
    <form th:action="@{/ticketsByEvent}" method="get">
        <label>Event Id</label>
        <input type="number" min="1" th:name="eventId"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number</label>
        <input type="number" min="1" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Delete ticket:</h3>
    <form th:action="@{/deleteTicket}" method="post">
        <label>Id</label>
        <input type="number" min="1" th:name="id"/>
        <input type="submit"/>
    </form>

</body>