<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
</head>

<body>
    <div th:if="${users != null}">
        <p>Users:</p>
        <table>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form th:action="@{/home}" method="get">
        <button type="submit">Home</button>
    </form>
</body>