<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Event</title>
</head>

<body>
    <div th:if="${createdEvent != null}">
        <p>Created event:</p>
        <p th:text="${createdEvent.id}"></p>
        <p th:text="${createdEvent.title}"></p>
        <p th:text="${createdEvent.date}"></p>
        <p th:text="${createdEvent.ticketPrice}"></p>
    </div>

    <div th:if="${updatedEvent != null}">
        <p>Updated event:</p>
        <p th:text="${updatedEvent.id}"></p>
        <p th:text="${updatedEvent.title}"></p>
        <p th:text="${updatedEvent.date}"></p>
        <p th:text="${updatedEvent.ticketPrice}"></p>
    </div>

    <div th:if="${eventById != null}">
        <p>Found event by id:</p>
        <p th:text="${eventById.id}"></p>
        <p th:text="${eventById.title}"></p>
        <p th:text="${eventById.date}"></p>
        <p th:text="${eventById.ticketPrice}"></p>
    </div>

    <div th:if="${eventsByTitle != null}">
        <p>Events:</p>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Ticket price</th>
            </tr>
            <tbody>
            <tr th:each="event : ${eventsByTitle}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.title}"></td>
                <td th:text="${event.date}"></td>
                <td th:text="${event.ticketPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${eventsByDate != null}">
        <p>Events:</p>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Ticket price</th>
            </tr>
            <tbody>
            <tr th:each="event : ${eventsByDate}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.title}"></td>
                <td th:text="${event.date}"></td>
                <td th:text="${event.ticketPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${deleteEventId != null}">
        <p>Event with id <span th:text="${deleteEventId}"></span> was marked for deletion.</p>
    </div>

    <form th:action="@{/home}" method="get">
        <button type="submit">Home</button>
    </form>
</body>

