<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
    <h1>Users</h1>

    <h3>Create User</h3>
    <form th:action="@{/user}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
        <label>Email</label>
        <input type="text" th:field="*{email}"/>
        <input type="submit"/>
    </form>

    <h3>Get User By Id</h3>
    <form th:action="@{/user}" method="get">
        <label>Id</label>
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h3>Get User By Email</h3>
    <form th:action="@{/user/byEmail}" method="get">
        <label>Email</label>
        <input type="text" th:name="email"/>
        <input type="submit"/>
    </form>

    <h3>Get Users By Name</h3>
    <form th:action="@{/user/byName}" method="get">
        <label>Name</label>
        <input type="text" th:name="name"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number (starts at 0)</label>
        <input type="number" min="0" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Update User</h3>
    <form th:action="@{/user/update}" th:object="${user}" method="post">
        <label>Id</label>
        <input type="number" th:field="*{id}"/>
        <label>Name (leave blank to not change)</label>
        <input type="text" th:field="*{name}"/>
        <label>Email (leave blank to not change)</label>
        <input type="text" th:field="*{email}"/>
        <input type="submit"/>
    </form>

    <h3>Delete user:</h3>
    <form th:action="@{/user/delete}" method="post">
        <label>Id</label>
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h1>Account</h1>

    <h3>Refill account:</h3>
    <form th:action="@{/account}" method="post">
        <label>User id</label>
        <input type="number" th:name="userId"/>
        <label>Refill sum</label>
        <input type="number" th:name="refillSum"/>
        <input type="submit"/>
    </form>

    <h1>Events</h1>

    <h3>Create Event</h3>
    <form th:action="@{/event}" th:object="${event}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Title</label>
        <input type="text" th:field="*{title}"/>
        <label>Date</label>
        <input type="date" th:field="*{date}"/>
        <label>Ticket price</label>
        <input type="number" th:field="*{ticketPrice}"/>
        <input type="submit"/>
    </form>

    <h3>Get Event By Id</h3>
    <form th:action="@{/event}" method="get">
        <label>Id</label>
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h3>Get Events By Title</h3>
    <form th:action="@{/event/byTitle}" method="get">
        <label>Title</label>
        <input type="text" th:name="title"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number (starts at 0)</label>
        <input type="number" min="0" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Get Events By Date</h3>
    <form th:action="@{/event/byDate}" method="get">
        <label>Title</label>
        <input type="date" th:name="date"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number (starts at 0)</label>
        <input type="number" min="0" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Update Event</h3>
    <form th:action="@{/event/update}" th:object="${event}" method="post">
        <label>Id</label>
        <input type="number" th:field="*{id}"/>
        <label>New Title (leave blank to not change)</label>
        <input type="text" th:field="*{title}"/>
        <label>New Date (leave blank to not change)</label>
        <input type="date" th:field="*{date}"/>
        <label>Ticket Price (leave blank to not change)</label>
        <input type="number" th:field="*{ticketPrice}" min="0"/>
        <input type="submit"/>
    </form>

    <h3>Delete event:</h3>
    <form th:action="@{/event/delete}" method="post">
        <label>Id</label>
        <input type="number" th:name="id"/>
        <input type="submit"/>
    </form>

    <h1>Tickets</h1>

    <h3>Book ticket</h3>
    <form th:action="@{/ticket}" th:object="${ticket}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>User Id</label>
        <input type="number" th:field="*{user.id}"/>
        <label>Event Id</label>
        <input type="number" th:field="*{event.id}"/>
        <label>Category</label>
        <select th:field="*{category}">
            <option th:each="categoryOpt : ${T(org.example.enums.Category).values()}"
                    th:value="${categoryOpt}" th:text="${categoryOpt}"></option>
        </select>
        <label>Place</label>
        <input type="number" min="1" th:field="*{place}"/>
        <input type="submit"/>
    </form>

    <h3>Batch book tickets</h3>
    <form  th:action="@{/ticket/batch}" enctype="multipart/form-data" method="post">
        <input type="file" name="file" class="form-control-file">
        <button type="submit" class="btn btn-primary">Upload File</button>
    </form>

    <h3>Get Tickets By User</h3>
    <form th:action="@{/ticket/byUser}" method="get">
        <label>User Id</label>
        <input type="number" min="1" th:name="userId"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number (starts at 0)</label>
        <input type="number" min="0" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Get Tickets By Event</h3>
    <form th:action="@{/ticket/byEvent}" method="get">
        <label>Event Id</label>
        <input type="number" min="1" th:name="eventId"/>
        <label>Page size</label>
        <input type="number" min="1" th:name="pageSize"/>
        <label>Page number (starts at 0)</label>
        <input type="number" min="0" th:name="pageNum"/>
        <input type="submit"/>
    </form>

    <h3>Delete ticket:</h3>
    <form th:action="@{/ticket/delete}" method="post">
        <label>Id</label>
        <input type="number" min="1" th:name="id"/>
        <input type="submit"/>
    </form>

</body>