<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ticket</title>
</head>

<body>
    <div th:if="${createdTicket != null}">
        <p>Created ticket:</p>
        <table>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Event Id</th>
                <th>Category</th>
                <th>Place</th>
            </tr>
            <tr>
                <td th:text="${createdTicket.id}"></td>
                <td th:text="${createdTicket.user.id}"></td>
                <td th:text="${createdTicket.event.id}"></td>
                <td th:text="${createdTicket.category}"></td>
                <td th:text="${createdTicket.place}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${ticketsByUser != null}">
        <p>Tickets By User:</p>
        <table>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Event Id</th>
                <th>Category</th>
                <th>Place</th>
            </tr>
            <tbody>
                <tr th:each="ticket : ${ticketsByUser}">
                    <td th:text="${ticket.id}"></td>
                    <td th:text="${ticket.user.id}"></td>
                    <td th:text="${ticket.event.id}"></td>
                    <td th:text="${ticket.category}"></td>
                    <td th:text="${ticket.place}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${ticketsByEvent != null}">
        <p>Tickets By Event:</p>
        <table>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Event Id</th>
                <th>Category</th>
                <th>Place</th>
            </tr>
            <tbody>
            <tr th:each="ticket : ${ticketsByEvent}">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.user.id}"></td>
                <td th:text="${ticket.event.id}"></td>
                <td th:text="${ticket.category}"></td>
                <td th:text="${ticket.place}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${batchBookedTickets != null}">
        <p>Batch Booked Tickets:</p>
        <table>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Event Id</th>
                <th>Category</th>
                <th>Place</th>
            </tr>
            <tbody>
            <tr th:each="ticket : ${batchBookedTickets}">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.user.id}"></td>
                <td th:text="${ticket.event.id}"></td>
                <td th:text="${ticket.category}"></td>
                <td th:text="${ticket.place}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${deleteTicketId != null}">
        <p>Ticket with id <span th:text="${deleteTicketId}"></span> was marked for deletion.</p>
    </div>

    <form th:action="@{/home}" method="get">
        <button type="submit">Home</button>
    </form>
</body>

